html{
	height: 100%;
}

body{
	min-height: 100%;
    background-color: rgb(82,45,109);
    font-family: 'Expletus Sans', cursive;
}

#root{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

.footer-bootom{
	height:22px;
	background-color: rgb(220,220,220);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.bottom-copyright{
	float: right;
	padding: 0px 15px;
}

.nav-wrapper{
	background-color: rgb(235,235,235);
	padding-right: 1%;
	padding-left: 1%;
}

.dueit-login-button{
	margin: auto;
	background-color: rgb(82,45,109);
}

.dueit-login-button:hover{
	background-color: rgb(235,235,235);
	color: rgb(82,45,109);
}

.dueit-login-button:focus{
	background-color: black;
	color: rgb(235,235,235);
}

.dueit-login-button-inverted{
	margin: auto;
	background-color: rgb(235,235,235);
	color: rgb(82,45,109);
}

.dueit-login-button-inverted:hover{
	background-color: rgb(82,45,109);
	color: rgb(235,235,235);
}

.dueit-login-button-inverted:focus{
	background-color: black;
	color: rgb(235,235,235);
}

.headerLogo{
	height:100%;
	margin: 0% 3% 0% 3%;
	float:left;
}
.myLogo{
	max-height:50px;
}
.button-logout{
	float: right;
	color:rgb(82,45,109);
}

.dropdown-header{
	float: right;
	margin: 1% 2% 1% 0%;
}

.dropdown-header-toggle{
	background-color: rgb(82,45,109);
}

.dropdown-header-toggle:hover{
	background-color: rgb(82,45,109);
	color: rgb(235,235,235);
}

.dropdown-header-toggle:focus{
	background-color: black;
	color: rgb(235,235,235);
}

.dropdown-header p{
	text-decoration: none;
	float: right;
	color:rgb(82,45,109);
}

.headingDashboard{
	margin:auto;
}

.main-signup-wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.right-div-signup{
	width: 70%;
	height: 100%;
	float: right;
	background-image: url("resources/purpleBackPatFinal.png")
}

.left-div-signup{
	width: 30%;
	height: 100%;
	float: left;
	background-color: rgb(235,235,235);
	height: 100%;
}


.main-signup-wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.whole{
	width:100%;
	height:100%;
}

.logo-signup-div{
	width:50%;
	display: block;
	margin:auto;
  margin-top: 15%;
	margin-bottom: 7%;
}

.header-search-bar{
	float:right;
	padding-right: 20px;
}

.general-heading{
	color: rgb(235,235,235);
	font-size: 30px;
}

.div-center-aligned{
	text-align: center;
}
;
.div-left-aligned{
	text-align: left;
}
.events-button-header{
	float: right;
	height:80%;
	margin: 0% 2.5% 0% 1.5%;
}
.settingsButton{
	float: right;
	height:80%;
	margin: 1% 2% 0% 2%;
}
.userIco{
	float: right;
	height:85%;
	margin: 0.7% 2% 0% 2%;
}
.settingsDiv{
	height: 25%;
	width: 100%;
	text-align: center;
	color: rgb(235,235,235);
	align-content: center;
}
.settingsInput{
	height: 10%;
	width: 20%;
	text-align: center;
	color: rgb(235,235,235);
}
.purpleButton{
	background-color: rgb(82,45,109);
	color:rgb(235,235,235);
}
.mainDiv{
	width:100%;
	height:100%;
	color:rgb(82,41,109);
	text-align:center;
	display:flex;
	padding: 1% 3%;
}
.leftDiv{
	background-color:white;
	width: 60%;
}
.rightDiv{
	width:100%;
	background-color:rgb(82,41,109);
	color:white;

}
.myCollapsible{
	text-align: left;
	color:rgb(82,41,109);
	background-color:white;
	padding:1.5% 2%;
	font-weight: bold;
}

hr{
	margin: 0px;
}

.signUpPurpleFooter
{
	height:22px;
	position:fixed;
	bottom:0;
	z-index:3;
	float:bottom;
	background-color:rgb(82,45,109);
	width:30%;
}

.header-username{
	float: right;
	color:rgb(82,45,109);
	font-size: 19px;
	padding: 0.3% 0%;
}

.MuiInput-input-15{
	color:rgb(235,235,235);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background-color: transparent;
	text-align: center;
}

.profilecolumn {
    float: left;
    width: 20%;
}

.profileleft {
    width: 50%;
	text-align:center;
	max-height:50%;

}

.profileright {
    width: 50%;
	text-align:center;
	border-style:solid;
	max-height:50%;
	background-color:rgb(235,235,235);
}

.profilerow:after {
    content: "";
    display: table;
    clear: both;
}
.profilerow{
	padding-left:3%;
	padding-top:1%;
}
@media screen and (max-width: 600px) {
    .profilecolumn {
        width: 100%;
    }
}

.profileImage{
	width: 35%;
	height: auto;
	border-radius:50%;
	max-width:50%;
	max-height:50%;
	padding-top:2%;
}

.followbutton{
	background-color:rgb(38,134,70);
	color:rgb(235,235,235);
	font-style:bold;
	font-size:25px;
	width:100px;
	height:40px;
}
.profileName{
	padding-top:2%;
}
.profileusername{
	font-size:20px;
	font-style:bold;
	color:rgb(235,235,235);
}

.myInput{
	color:rgb(235,235,235);
	width: 40% !important;
	float:center;

}
.searchProfile{
	text-align: center;
	width: 50%;
	height: auto;
	border-radius:50%;
	max-width:70%;
	max-height:70%;
	padding-top:2%;
}

.searchprofileMain{
	text-align: center;
	color:wheat;
	font-size:40px;
	width: 100%;
}

.search-result-profile-button{
	text-align: center;
	bottom: 0;
}

.searchBox{
	margin: 0 auto;
}

.header-events-button-image{
	height: 95%;
}

.calendarDashboard{
	width: 100%;
	text-align:center;
	padding:1%;
	color:rgb(82,45,109);
	background-color:rgb(235,235,235);
	float:left;
}

.dashboardUpperDiv{
	height: 70px;
	margin: 0% 2%;
}

#popover-positioned-top{
	color:rgb(82,45,109);
	background-color:rgb(235,235,235);
}

.header-menu-image{
	float: right;
	height: 40%;
	margin-top: 1.7%;
	margin-left: 1.5%;
	margin-right: 2.5%;
}

.popover-content{
	text-align: center;
	color:rgb(82,45,109);
}

.picker{
	margin-left:30%;
	margin-top:4%;
	color: rgb(235,235,235);
	width: 100%;
	z-index: 0;
}

.MuiPaper-root-36{
	background-color: rgb(235,235,235) !important;
}

.MuiPickersToolbar-toolbar-64{
	background-color:rgb(82,45,109) !important;
}

.MuiPickersCalendarHeader-switchHeader-95{
	background-color:rgb(82,45,109) !important;
	color: rgb(235,235,235) !important;
}

.MuiTypography-body1-78{
	color: white !important;
	font-size: 1.1rem !important;
}

.MuiInput-root-6{
	color: white !important;
}